{% extends 'mysite/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="width: 18rem;">
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="{% static 'mysite/images/IMG20170616193017.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Abhay Tyagi</h5>
                    <p class="card-text">Hi! I am Abhay Tyagi creator of AUTOWORLD, I love cars and Aeroplanes</p>
                    <p class="card-text">
                        <small class="text-muted"></small>
                    </p>
                </div>
            </div>
            
                
            </div>
        </div>
    </div>
{% endblock %}